.container-confirm {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    opacity: 0;
    top: -100%;
    transform: translateY(-75%);
    transition: opacity .25s ease;
}

.container-confirm.open {
    opacity: 1;
}

.container-confirm > button {
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 9999px;
}

.container-confirm > button#no {
    background-color: var(--secondary-green);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}