@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-green: #00a86d;
    --secondary-green: #e8fff3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

/* Main container */

body,
html {
    height: 100svh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

/* Card style */

body>main {

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.inactive {
    height: 3.9rem;
    overflow: hidden;
}

.inactive > header > .right > img {
	display: none;
}

.inactive:hover {
    height: 5.25rem;
    overflow: hidden;
}

.active {
    height: 18rem;
    z-index: 10;
}

.card {
    display: grid;
    border-top: 4px white solid;
    grid-template-rows: 0.45fr 1fr;
    border-radius: 8px;
    background-color: var(--secondary-green, #e8fff3);
    padding: 0.5rem 1rem;
    width: 20rem;
    transition: height .3s ease;
}

.card>header {
    display: flex;
    justify-content: space-between;
    color: var(--primary-green, #00a86d);
}

.card>header>.left>h2 {
    font-size: 2rem;
    font-weight: 600;
}

.card>main {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.card>main>.left>div {
    display: flex;
    gap: 0.5rem;
}

.card>main>.right {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/* Navbar */

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.95rem;
}

.add {
    display: flex;
    justify-content: center;
    background-color: var(--primary-green, #00a86d);
    border-radius: 9999px;
    padding: 8px;
    box-shadow: 0px 5px 5px rgba(0, 168, 109, 0.3);
}